wibot-backend/workflows/get_user_tokens.json
{
  "name": "WIBOT - Get User Tokens",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "wibot/user/tokens",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-tokens",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "wibot-user-tokens"
    },
    {
      "parameters": {
        "jsCode": "const authHeader = $input.first().json.headers.authorization;\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  return [{ json: { valid: false, error: 'No token provided' } }];\n}\n\nconst token = authHeader.substring(7);\nconst parts = token.split('.');\n\nif (parts.length !== 3) {\n  return [{ json: { valid: false, error: 'Invalid token format' } }];\n}\n\ntry {\n  const payload = parts[1];\n  const decoded = JSON.parse(Buffer.from(payload, 'base64').toString());\n  \n  if (decoded.exp && decoded.exp < Math.floor(Date.now() / 1000)) {\n    return [{ json: { valid: false, error: 'Token expired' } }];\n  }\n  \n  return [{ json: { valid: true, userId: decoded.userId } }];\n} catch (err) {\n  return [{ json: { valid: false, error: 'Invalid token' } }];\n}"
      },
      "id": "verify-jwt",
      "name": "Verify JWT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-jwt-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-jwt-valid",
      "name": "JWT Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.error }}\"\n}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-unauthorized",
      "name": "Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 450]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  COALESCE(used_tokens, 0) as used_tokens,\n  COALESCE(quota_tokens, 50000) as quota_tokens,\n  COALESCE(quota_tokens, 50000) - COALESCE(used_tokens, 0) as tokens_remaining\nFROM user_token_usage\nWHERE user_id = {{ $json.userId }}\n  AND month = DATE_TRUNC('month', CURRENT_DATE)\nLIMIT 1;",
        "options": {}
      },
      "id": "get-tokens",
      "name": "Get Token Usage",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [910, 200],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "WIBOT PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nconst jwtData = $('Verify JWT').first().json;\n\n// Si pas de donnees, l'utilisateur n'a pas encore utilise de tokens ce mois\nif (!rows || rows.length === 0 || rows[0].json.tokens_remaining === undefined) {\n  return [{\n    json: {\n      success: true,\n      used_tokens: 0,\n      quota_tokens: 50000,\n      tokens_remaining: 50000\n    }\n  }];\n}\n\nconst data = rows[0].json;\n\nreturn [{\n  json: {\n    success: true,\n    used_tokens: parseInt(data.used_tokens) || 0,\n    quota_tokens: parseInt(data.quota_tokens) || 50000,\n    tokens_remaining: parseInt(data.tokens_remaining) || 50000\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-success",
      "name": "Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1350, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Verify JWT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify JWT": {
      "main": [
        [
          {
            "node": "JWT Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Valid?": {
      "main": [
        [
          {
            "node": "Get Token Usage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token Usage": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "WIBOT"
    }
  ],
  "triggerCount": 1,
  "pinData": {}
}
