wibot-backend/workflows/get_messages.json
{
  "name": "WIBOT - Get Messages",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "wibot/messages",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-messages",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "wibot-messages"
    },
    {
      "parameters": {
        "jsCode": "const authHeader = $input.first().json.headers.authorization;\nconst conversationId = $input.first().json.query.conversationId;\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  return [{ json: { valid: false, error: 'No token provided' } }];\n}\n\nif (!conversationId) {\n  return [{ json: { valid: false, error: 'conversationId is required' } }];\n}\n\nconst token = authHeader.substring(7);\nconst parts = token.split('.');\n\nif (parts.length !== 3) {\n  return [{ json: { valid: false, error: 'Invalid token format' } }];\n}\n\ntry {\n  const payload = parts[1];\n  const decoded = JSON.parse(Buffer.from(payload, 'base64').toString());\n  \n  if (decoded.exp && decoded.exp < Math.floor(Date.now() / 1000)) {\n    return [{ json: { valid: false, error: 'Token expired' } }];\n  }\n  \n  return [{ json: { valid: true, userId: decoded.userId, conversationId } }];\n} catch (err) {\n  return [{ json: { valid: false, error: 'Invalid token' } }];\n}"
      },
      "id": "verify-jwt",
      "name": "Verify JWT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-jwt-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-jwt-valid",
      "name": "JWT Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.error }}\"\n}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-unauthorized",
      "name": "Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 450]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  m.message_id,\n  m.role,\n  m.content,\n  TO_CHAR(m.created_at, 'YYYY-MM-DD\"T\"HH24:MI:SS\"Z\"') as created_at\nFROM messages m\nJOIN conversations c ON m.conversation_id = c.conversation_id\nWHERE m.conversation_id = '{{ $json.conversationId }}'::uuid\n  AND c.user_id = {{ $json.userId }}\nORDER BY m.created_at ASC;",
        "options": {}
      },
      "id": "get-messages",
      "name": "Get Messages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [910, 200],
      "credentials": {
        "postgres": {
          "id": "yY2GzRzLXTG4anFZ",
          "name": "WIBOT PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\n\n// Si pas de resultats, retourner liste vide\nif (!rows || rows.length === 0 || !rows[0].json.message_id) {\n  return [{\n    json: {\n      success: true,\n      messages: []\n    }\n  }];\n}\n\nconst messages = rows.map(row => ({\n  message_id: row.json.message_id,\n  role: row.json.role,\n  content: row.json.content,\n  created_at: row.json.created_at\n}));\n\nreturn [{\n  json: {\n    success: true,\n    messages\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-success",
      "name": "Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1350, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Verify JWT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify JWT": {
      "main": [
        [
          {
            "node": "JWT Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Valid?": {
      "main": [
        [
          {
            "node": "Get Messages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Messages": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "WIBOT"
    }
  ],
  "triggerCount": 1,
  "pinData": {}
}
